*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;
    color: black;
}

.center{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.nav {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    background-color: rgb(233, 232, 232);
}

.nav .arrowIcon{
   font-size: 1.3rem;
   margin-right: 1.5rem;
}

.code-container{
    display: block;
    padding-top: 1rem;
}

.code-container img{
    
}

.code-container p{
    font-size: .8rem;
}

.nav .logo-img{
    margin-top: .5rem;
    margin-right: 2rem;
}

.switchContainer{
    display: flex;
    background-color: var(--lightPurple);
    color: whitesmoke;
    padding: .3rem rem;
    width: 5.5rem;
    border-radius: 1rem;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.switchContainer .active{
    background-color: var(--orange);
    border-radius: 1rem;
    padding: .2rem;
}

.switchContainer .switch1{
    width: 50%;
    transition: all .1s ease;
    height: 27px;
}

.switchContainer .switch2 {
    width: 50%;
    transition: all .1s ease;
    height: 27px;
}

.chat-container{
    width: 100%;
    height: 45vh;
    overflow: scroll;
    background-color: rgb(233, 232, 232);
    /* border-radius: 0 0rem 2rem 2rem; */
    padding-bottom: .5rem;
}

.chat-container .message-container{
    margin: 1rem .4rem;
}

.message-me{
    display: flex;
    justify-content: flex-end;
}

.message-user {
    display: flex;
    justify-content: flex-start;
}

#root>div>div.chat-container>div>div>div.imgs-chat{
    display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        width: 100%;
}

.chat-img{
    width: 25%;
}


.message-me div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    background-color: white;
    width: 50%;
    padding: 1rem;
    border-radius: 1rem 0rem 1rem 1rem;}

.border-me{
    border: #6C1B9C 1px solid;
}

.message-user div{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: white;
    color: black;
    width: 50%;
    border-radius: 0rem 1rem 1rem 1rem ;
}

.border-user{
    border: #FC6E3E 1px solid;
}

.keyboard{
    height: 35vh;
    width: 100%;
    
}

.keyboard .input{
    display: flex;
    justify-content: space-around;
    background-color: rgb(233, 232, 232);
    padding: .5rem 0;
    border-radius: 0 0 1rem 1rem;

}

.keyboard .input .input-field{
    width: 90%;
    background-color: white;
    border-radius: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid black;
}

.keyboard .input .input-field img{
    width: 2rem;
}

.keyboard .input .chat-submit{
    font-size: 2.1rem;
    color: white;
    background-color: var(--orange);
    border-radius: 1rem;
    padding: .5rem;
}

.keyboard .input .chat-submit:active{
    background-color: var(--purple);
}

.keyboard .shortcut{
    display: flex;
    overflow-x: scroll;
}

.keyboard .shortcut div{
    background-color: rgba(255, 255, 255, 0.431);
    margin: .5rem 0rem 0rem .5rem;
    border-radius: 1rem;
    font-size: .6rem;
    position: relative;
    padding: .4rem;
}

.keyboard .shortcut div img{
    width: 2rem;
}

.keyboard .shortcut div p{
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;
}


.keyboard .keyCaps-container{
    display: grid; 
    padding-top: .5rem;
    grid-template-columns: 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr; 
    grid-template-rows: 0.1fr 0.1fr 0.1fr; 
    gap: 0px 2px;
    grid-template-areas: 
      ". . . . . . . . . . ."
      ". . . . . . . . . . ."
      ". . . . . . . . . . ."; 
    /* display: flex;
    flex-wrap: wrap; */
    /* justify-content: space-around */
    
}

.letter-box{
    width: 2rem;
}


.letter-box img{
    width: 100%;
    height: 90%;
    border-radius: .5rem;
}

.delete{
    width: 200%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 90%;
    font-size: 1.3rem;
    border-radius: .5rem;
}

.space{
    background-color: var(--orange);
    width: 80%;
    margin: 0 auto;
    border-radius: 1rem;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    color: white;
}

.space:active{
    background-color: darkgrey;
}


:root {
    --purple: #4A148C;
    --lightPurple: #6C1B9C;
    --orange: #FC6E3E;
    --red: #BB2D3A;
}